    body{
        background-color: aquamarine;
 
    }



strong{

    font-size: 50px;
    text-align: center;
    color:yellow;
}

.apology{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    color: white;
  display: inline-block;
     position: relative;
     left: 1210px;
 text-decoration: none;
 font-size: larger;
 word-spacing: 9px;
 }
 .navbar a{
     text-decoration: none;
     color: black;
 
   padding-right: -20px;
 
 }
 .navbar a:hover{
     color:aqua;
     text-decoration-line: underline;
     text-decoration-color:white;
     text-decoration-style: solid;
     text-decoration-thickness: 4px;
     
 }
 
 .header{
     
     position: fixed;
 margin: -9px;
     background-color: gold;
     margin-top: -9px;
     width: 2100px;
     height: 50px;
 }
 .logo{
     text-transform: capitalize;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-size: 3em;
 font-weight: 900;
 color: white;
 position: absolute;
 
 }