body{
background-color: darkblue;
color: white;
font-weight: 1000;

}

h1{

    font-size: 50px;
    text-align: center;
    color:yellow;
    position: relative;
    left: 50px;
    
}


.word{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
}
.form{
    position: absolute;
    text-align: center;
    left:40%;
    top: 350px;
    
    }
    .textmessage{
        text-align: center;
        position: absolute;
    left: 70px;
    }

    .navbar{
        color: white;
      display: inline-block;
         position: relative;
         left: 1210px;
     text-decoration: none;
     font-size: larger;
     word-spacing: 9px;
     }
     .navbar a{
         text-decoration: none;
         color: black;
     
       padding-right: -20px;
     
     }
  
     
     .navbar a:hover{
         color:aqua;
         text-decoration-line: underline;
         text-decoration-color:white;
         text-decoration-style: solid;
         text-decoration-thickness: 4px;
         
     }
     
     .header{
         
         position: fixed;
     margin: -9px;
         background-color: gold;
         margin-top: -9px;
         width: 2100px;
         height: 50px;
     }
     .logo{
         text-transform: capitalize;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 3em;
     font-weight: 900;
     color: white;
     position: absolute;
     
     }